.NewWorklogPanel {
    border: 1px solid;
    position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 480px;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}