$background: #212529;

$color-primary: #2196F3;
$color-light: white;
$spacing: 50px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;

$font-title: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;


.WorklogsDashboard {
    // border: 1px solid;
    
    position: relative;
    height: 100%;

    & .timeline{
        border-left: $line solid $color-primary;
        border-bottom-right-radius: $radius;
        border-top-right-radius: $radius;    

        margin:10px;
        // margin-left: 11rem;
        letter-spacing: 0.5px;   
        position: relative;
        line-height: 1.4em;
        // font-size: 1.03em;   
        padding: 10px;   
        list-style: none;
        text-align: left;  
        color: $background;

        .event{
        
            margin-bottom: 25px;  
            position: relative;

            padding-left: 0.5rem;
            // border: 1px solid;
            line-height: 2.5;
            // background-color: red;
            border-radius: $radius;
            transition: all 0.3s ease-in-out;
            display: inline-block;
            background-color: #f6f6f6;

            & .eventTrash{
                position: absolute;
                top: 0;
                right: 5px;
                display: none;
            }

            &:hover{
                background-color: $color-primary;
                cursor: pointer;
                box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
                // color: $color-light;

                & .eventTrash{
                    display: block;
                }
            }
    
            &:last-of-type { 
                padding-bottom: 0;
                margin-bottom: 0; 
            }
        
            &:before, &:after {
                position: absolute;
                display: block;
                top: 0;
            }
    
            &:before {
                left: -209px;    
                content: attr(data-date);
                text-align: right;
                width: 186px;
                text-align: center;            
    
              }
          
              &:after {
                box-shadow: 0 0 0 $dotborder rgb(50,150,243);    
                left: -18px;        
                background: lighten($background,5%);    
                border-radius: 50%;  
                height: $dot;
                width: $dot;
                content: "";
                top: 15px;
              }
            }
    }

    & .worklogCard{
        transition: all 0.2s ease-in-out;
        background-color: #f6f6f6;
        width: 200px;
        height: 200px;
        border-radius: 0.25rem;
        cursor: pointer;
        position: relative;
        padding: 0.25rem;

        &:hover{
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;

            & .deleteIcon{
                display: flex;
            }

            & .title{
                background-color: red;
            }
        }

        & .title{            
            position: absolute;
            padding: 0.5rem;
            left: 0;
            right: 0;
            top: 60%;
            transform: translateY(-60%);
            text-decoration: underline;
        }

        & .deleteIcon{
            transition: all 0.2s ease-in-out;
            position: absolute;
            right: 5px;            
            top: 5px;            
            cursor: pointer;                     
            display: none;
        }
    }
}